body {
    margin: 0px;
    max-width: 100vw;
}

#root {
    height: 100%;
    width: 100%;
    background-color: #262626;
}

#app {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Montserrat, 'Open Sans Thin', sans-serif;

}

#header {
    height: 70px;
    width: 100%;
    background-color: #0066A5;
    display: flex;
    justify-content: center;
    border-bottom: #CCECFF;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#header-content {
    height: 100%;
    width: 100%;
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    height: "50px";
    width: "50px";
}

#header-logo {
    height: "50px";
    width: "50px";
}

#header-list {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

li.header-list-item {
    margin: 0px 8px;
    display: inline;
}

a.header-list-item {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

a.header-list-item:hover {
    color: #CCCCCC;
}

#content {
    height: 100%;
}

#content-body {
    padding: 0px 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-intro {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-container {
    width: 100%;
    padding: 200px 0px;
    display: flex;
    flex-direction: column;
}

#intro-greeting {
    font-family: "Roboto mono";
    color:beige;
    font-size: 26px;
    text-align: left;
}

#intro-name {
    font-family: Montserrat, "Open sans";
    color:#1EB0FF;
    font-size: 60px;
    text-align: left;
}

#intro-description {
    font-family: Montserrat;
    color: beige;
    font-size: 30px;
    text-align: left;
}